@model IEnumerable<PetShop.Models.Animal>
@{
    ViewData["Title"] = "Catalog";
}
<div class="card mb-4 border-2" style="border-color: #ff6347;">
    <div class="card-body">
        <div class="mb-2">
            <span class="fs-5 fw-semibold m-2">Please select a category: </span>
            <select id="categoryDropdown" class="form-select form-select-sm d-inline-block w-auto">
                <option value="All" selected>All</option>
                @foreach (var category in @ViewBag.Categories)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            </select>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Portrait</th>
                    <th>Name</th>
                    <th>Find out more and comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var animal in Model)
                {
                    <tr data-category="@animal.CategoryId">
                        <td><img src="~/images/animals/@animal.PictureName" alt="@animal.Name" width="100px" height="80px" /></td>
                        <td>@animal.Name</td>
                        <td>
                            <a class="btn btn-outline-light second-color" asp-action="Index" asp-controller="Animal" asp-route-id="@animal.AnimalId" style="border-color: #ff6347">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
